# # # Node.js & npm # # #
# Log-Dateien
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Verzeichnis für Abhängigkeiten
node_modules/

# Lockfiles
package-lock.json
yarn.lock

# # # Electron # # #
# Verzeichnisse für Build- und Pack-Artefakte
dist/
out/
release/
*.exe
*.zip
*.dmg
*.AppImage

# # # Betriebssystem-Dateien # # #
# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
ehthumbs_vista.db
*.[Dd]esktop.ini

# # # IDE- & Editor-Konfigurationen # # #
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates